<%= render 'layouts/flash_message' %>
<h2>Drinker profile for: <strong><%=@brewer.name%></strong></h2>
<table>
	<tr>
		<td>Invited by: </td>
		<td><strong><%=@brewer.inviter_name%></strong></td>
	<tr>
	<tr>
		<td>Has invited:</td>
	</tr>
	<tr><td></td>
		<td><ul>
			<% @invited.each do |i|%>
				<li><%=link_to i.name, brewer_path(i.id)%><sup><%=i.invited_count%></sup></li>
			<%end%>
			</ul>
		</td>
	</tr>
	<tr><td><%=link_to "Invite more friends!", invite_path, class:"btn btn-default"%></td>
		<tr><td><br></td></tr>
	<tr>
		<td>Stash added:</td>
	</tr>
	<tr><td></td>
		<td>
			<ul>
			<% @stocks.each do |p| %>
				<li><%=p.quantity%> <%=p.brew.name%> at <%=p.place.name%></li>
			<% end %>
			</ul>
		</td>
	</tr>
</table>