<%= render 'layouts/flash_message' %>
<h2>Drinker profile for: <strong><%=@brewer.name%></strong></h2>
<table>
	<tr>
		<td>Invited by: </td>
		<td><strong><%=@brewer.inviter_name%></strong></td>
	<tr>
	<tr>
		<td>Has invited:</td>
	</tr>
	<tr><td></td>
		<td><ul>
			<% @invited.each do |i|%>
				<li><%=i.name%></li>
			<%end%>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Stash added:</td>
	</tr>
	<tr><td></td>
		<td>
			<ul>
			<% @stocks.each do |p| %>
				<li><%=p.quantity%> <%=p.brew.name%> at <%=p.place.name%></li>
			<% end %>
			</ul>
		</td>
	</tr>
</table>
<h2>How to invite</h2>
<p>Send this link to your drinking buddies in NUS!</p>
<p><code><%= @brewer.invite_address%></code></p>