
<div class="row">
	<h2 class="col-xs-offset-1 col-xs-9">Add a new stock </h2>
</div>
<%= form_for @stock, class:"form-inline row", :url => stocks_path do |f| %>
    <div class="form-group row">
    	<%= f.label :brew_id , class:"control-label col-xs-offset-1 col-xs-1"%>
		<div class="col-sm-4 col-xs-4">
			<%= f.collection_select(:brew_id, Brew.all, :id, :name, prompt:true)%>		</div>
	</div>
	<div class="form-group row">
		<%= f.label :place_id, class:"control-label col-xs-offset-1 col-xs-1"%>
		<div class="col-sm-4 col-xs-4">
		<%= f.collection_select(:place_id, Place.all, :id, :name, prompt:true)%>
		</div>
	</div>
	<div class="form-group row">

		<%= f.label :quantity, class:"control-label col-xs-offset-1 col-xs-1"%>
		<div class="col-sm-4 col-xs-4">
		<%= f.number_field :quantity, in:1...100, class:" form-control", :placeholder=>"how many?" %>
		</div>
	</div>

	 <div class="row"><%= f.submit "Save", class:"btn btn-large btn-success col-sm-4 col-xs-offset-1 col-xs-9"%></div>
<%end%>